button#drawer-button.drawer-button(data-action="open-drawer"): i.fa.fa-bars
nav.drawer(tabindex="-1")
    .drawer-container
        //- .drawer-search(role="search")
        ul.drawer-list(role="navigation")
            li.drawer-list-item: a(href="/", data-pjax)
                i.fa.fa-home
                | Home
            li.drawer-list-item: a(href="#{url}/rss")
                i.fa.fa-rss
                | Subscribe to Feed

            li.drawer-list-divider
            
            //- Follow me section
            li.drawer-list-item.drawer-list-title Follow me
            li.drawer-list-item: a(href="http://twitter.com", target="_blank")
                i.fa.fa-twitter
                | Twitter
            li.drawer-list-item: a(href="http://github.com", target="_blank")
                i.fa.fa-github
                | Github
            li.drawer-list-item: a(href="http://stackoverflow.com", target="_blank")
                i.fa.fa-stack-overflow
                | Stack Overflow

            //- Archives
            if archives && archives.length
                li.drawer-list-divider
                li.drawer-list-item.drawer-list-title Archive
                each archive in archives
                    li.drawer-list-item: a(href=$date(archive.date, '/YYYY/MM'), data-pjax)
                        i.fa.fa-archive
                        = $date(archive.date, 'MMMM YYYY')

.drawer-overlay