footer.footer(role="contentinfo")
    p: small!= copyright
    p: small 
        a(href="http://ghostium.oswaldoacauan.com/", target="_blank", rel="nofollow") Ghostium Theme
        |  by 
        a(href="http://twitter.com/oswaldoacauan", target="_blank", rel="nofollow") @oswaldoacauan
    p: small
        | Proudly published with 
        a(href="https://github.com/T-PWK/panda") Panda